<header class="main-header">
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a class="<%= pageTitle === 'Shop' ? 'active' : '' %>" href="/">
					Shop
				</a>
			</li>
			<% if (isAuth) { %>
			<li class="main-header__item">
				<a class="<%= pageTitle === 'Cart' ? 'active' : '' %>" href="/cart">
					Cart
				</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle === 'Add Product' ? 'active' : '' %>" href="/admin/product">
					Add Product
				</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle === 'Admin Products' ? 'active' : '' %>" href="/admin/products">
					Admin Products
				</a>
			</li>
			<% } %>
		</ul>
		<ul class="main-header__item-list">
			<% if (!isAuth) { %>
			<li class="main-header__item">
				<a class="<%= pageTitle === 'Login' ? 'active' : '' %>" href="/login">Login</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle === 'Signup' ? 'active' : '' %>" href="/signup">Signup</a>
			</li>
			<% } else {%>
			<li class="main-header__item">
				<form action="/logout" method="post"><button type="submit">Logout</button></form>
			</li>
			<% } %>
		</ul>
	</nav>
</header>
