<%- include("partials/head.ejs", {pageTitle}) %>
		<link href="/css/form.css" rel="stylesheet" />
	</head>
	<body>
        <%- include("partials/nav.ejs", {pageTitle, isAuth}) %>
		<main>
            <h3 class="form-title">Add a Product</h3>
			<form action="<%= pageTitle === 'Add Product' ? '/admin/product' : `/admin/product/${prod._id}` %>" method="POST" class="form">
			    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form-control">
					<label for="title">Title<input id="title" name="title" type="text" value="<%= prod.title %>" /></label>
                </div>
                <div class="form-control">
					<label for="imageUrl">Image URL<input id="imageUrl" name="imageUrl" type="text" value="<%= prod.imageUrl %>" /></label>
                </div>
                <div class="form-control">
					<label for="price">Price<input id="price" name="price" type="number" value="<%= prod.price %>" /></label>
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" type="text" cols="39" rows="3" value="<%= prod.description %>"><%= prod.description %></textarea>
				</div>
				<button type="submit" class="btn btn-primary"><%= pageTitle %></button>
			</form>
		</main>
<%- include("partials/end.ejs") %>