<%- include('partials/head.ejs', {pageTitle}) %>
	</head>
	<body>
		<%- include('partials/nav.ejs', {pageTitle, isAuth}) %>
		<main>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% cartItems.forEach(function(item){ %>
                        <tr>
                            <td><%= item.title %></td>
                            <td><%= item.quantity %></td>
                            <td><%= item.quantity * item.price %></td>
                            <td><form action="/cart/delete/<%= item.productId %>" method="POST"><button type="submit">Delete</button></form></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <div>
                Total Cart Value: <%= cartItems.reduce((x,y) => (x.quantity * x.price) + (y.quantity * y.price),0) %>
            </div>
            <% if (isAuth) { %>
                <form action="/checkout" method="POST"><button type="submit">Checkout</button></form>
            <% } else { %>
               <button ><a href="/login">Login to Place Order</a></button>
            <% } %>
		</main>
<%- include('partials/end.ejs') %>