<%- include('partials/head.ejs', {pageTitle: "Cart"}) %>
	</head>
	<body>
		<%- include('partials/nav.ejs') %>
		<main>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% cartItems.forEach(function(item){ %>
                        <tr>
                            <td><%= item.title %></td>
                            <td><%= item.quantity %></td>
                            <td><%= item.quantity * item.price %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <div>
                Total Cart Value: <%= cartItems.reduce((x,y) => (x.quantity * x.price) + (y.quantity * y.price)) %>
            </div>

            <form action="/checkout" method="POST"><button type="submit">Checkout</button></form>
		</main>
<%- include('partials/end.ejs') %>