<%- include("partials/head.ejs", {pageTitle}) %>
		<link href="/css/form.css" rel="stylesheet" />
	</head>
	<body>
        <%- include("partials/nav.ejs", {pageTitle, isAuth}) %>
		<main>
            <h3 class="form-title">Create New Password</h3>
            <form action="/new-password/" method="POST" class="form">
			    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
			    <input type="hidden" name="userId" value="<%= userId %>" />
			    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
				<div class="form-control">
					<label for="password">Enter New Password<input id="password" name="password" type="password" /></label>
                </div>
                <div class="form-control">
					<label for="password2">Confirm Password<input id="password2" name="password2" type="password" /></label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

		</main>
<%- include("partials/end.ejs") %>